<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:background-image="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="/fragments/head :: head">
</head>
<body class="user">
<h1>Oscar Wild Circus</h1>

    <nav th:replace="/fragments/navbar.html :: navbar"></nav>

        <table class="t-c-text" id="t-activity">
            <thead>
                <td>
                    Title
                </td>
                <td>Genre
                </td>
                <td>
                    Cost
                </td>
                <td>
                    Day
                </td>
                <td>
                    Started
                </td>
                <td>
                    Ended
                </td>
            </thead>
            <tbody>
            <tr class="c-text" th:each="activity : ${activityList}">
                <td th:text="${activity.title}"></td>
                <td th:text="${activity.genre}"></td>
                <td th:text="${activity.cost}"></td>
                <td th:text="${#dates.format(activity.date, 'dd-MM-yyyy')}"></td>
                <td th:text="${#dates.format(activity.startHour, 'HH:mm')}"></td>
                <td th:text="${#dates.format(activity.endHour, 'HH:mm')}"></td>
            </tr>
            </tbody>
        </table>

</body>
</html>