<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul>
        <li th:each="activity : ${activityList}">
            <span th:text="${activity.title}"></span>
            <span th:text="${activity.genre}"></span>
            <span th:text="${activity.cost}"></span>
            <span th:text="${activity.date}"></span>
            <span th:text="${activity.startHour}"></span>
            <span th:text="${activity.endHour}"></span>
        </li>
    </ul>
</body>
</html>