<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/fragments/head.html :: head"></head>
<body>
<h1>Oscar Wild Circus</h1>

<nav th:replace="/fragments/navbar.html :: navbar"></nav>

<h2>Actors</h2>
<form enctype="multipart/form-data" th:action="@{${pathMethod}}" method="POST"
      th:object="${newActor}">
    <div class="form-actor">
        <div class="form-actor-row">
            <label for="name">Name</label>
            <input id="name" name="name" th:field="*{name}" type="text">
        </div>
        <div class="form-actor-row">
            <label for="biography">biography</label>
            <input id="biography" name="biography" th:field="*{biography}" type="text"/>
        </div>
        <div class="form-actor-row">
            <label for="portrait">image</label>
            <input type="file" id="portrait" th:field="*{portrait}"/>
        </div>
        <input type="submit" value="Valider"/>
    </div>

</form>

</body>
</html>