<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}">

    <title>Admin</title>
</head>
<nav th:replace="/fragments/navbar.html :: navbar"></nav>

<body class="form-panel">
    <h2>Home</h2>
    <form enctype="multipart/form-data" th:action="@{/create}" th:method="POST"
          th:object="${newWild}">

        <div class="form-wild">
            <div class="form-wild-row">
                <label for="description">description</label>
                <input id="description" name="description" th:field="*{description}" type="text"/>
            </div>
            <div class="form-wild-row">
                <label for="about">about</label>
                <input id="about" name="about" th:field="*{about}" type="text"/>
            </div>
            <div class="form-wild-row">
                <label for="img">image</label>
                <input type="file" id="img" th:field="*{picture}">
            </div>
            <input type="submit" value="Valider"/>
        </div>

    </form>
    <h2>Activity</h2>
    <form enctype="multipart/form-data" th:action="@{/activity/create}" method="POST"
          th:object="${newActivity}">

        <div class="form-activity">
            <div class="form-activity-row">
                <label for="title">Title</label>
                <input id="title" name="title" th:field="*{title}" type="text">
            </div>
            <div class="form-activity-row">
                <label for="genre">genre</label>
                <input id="genre" name="genre" th:field="*{genre}">
            </div>
            <div class="form-activity-row">
                <label for="cost">Price</label>
                <input id="cost" name="cost" type="text">
            </div>
            <div class="form-activity-row">
                <span th:errors="*{date}" th:if="${#fields.hasErrors('date')}">Name Error</span>
                <label for="date">Date</label>
                <input id="date" name="date" th:field="*{date}" type="date">
            </div>
            <div class="form-activity-row">
                <span th:errors="*{startHour}" th:if="${#fields.hasErrors('startHour')}">Name Error</span>
                <label for="startHour">Beginning</label>
                <input id="startHour" name="startHour" th:field="*{startHour}" type="time">
            </div>
            <div class="form-activity-row">
                <span th:errors="*{endHour}" th:if="${#fields.hasErrors('endHour')}">Name Error</span>
                <label for="endHour">End</label>
                <input id="endHour" name="endHour" th:field="*{endHour}" type="time">
            </div>
            <input type="submit" value="Valider">
        </div>

    </form>
    <h2>Actors</h2>
    <form enctype="multipart/form-data" th:action="@{/actor/create}" method="POST"
          th:object="${newActor}">
        <div class="form-actor">
            <div class="form-actor-row">
                <label for="name">Name</label>
                <input id="name" name="name" th:field="*{name}" type="text">
            </div>
            <div class="form-actor-row">
                <label for="biography">biography</label>
                <input id="biography" name="biography" th:field="*{biography}" type="text"/>
             </div>
            <div class="form-actor-row">
                <label for="portrait">image</label>
                <input type="file" id="portrait" th:field="*{portrait}"/>
            </div>
            <input type="submit" value="Valider"/>
        </div>

    </form>
    <h2>Home</h2>
    <ul>
        <li th:each="wild : ${wildList}">
            <img th:src="${wild.pictureUrl}">
            <span th:text="${wild.description}"></span>
            <a th:href="@{'/' + ${wild.id} + '/edit'}">Modifier</a>
            <a href="#" th:href="@{'/'+ ${wild.id} +'/delete'}">Supprimer</a>

        </li>
    </ul>
    <h2>Activity</h2>
    <ul>
        <li th:each="activity : ${activityList}">
            <span th:text="${activity.title}"></span>
            <span th:text="${activity.genre}"></span>
            <span th:text="${activity.cost}"></span>
            <span th:text="${#dates.format(activity.date, 'dd-MM-yyyy')}"></span>
            <span th:text="${#dates.format(activity.startHour, 'HH:mm')}"></span>
            <span th:text="${#dates.format(activity.endHour, 'HH:mm')}"></span>
            <a th:href="@{'/activity/' + ${activity.id} + '/edit'}">Modifier</a>
            <a href="#" th:href="@{'/activity/'+ ${activity.id} +'/delete'}">Supprimer</a>

        </li>


    </ul>
    <h2>Actor</h2>
    <ul>
        <li th:each="actor : ${actorList}">
            <span th:text="${actor.name}"></span>
            <span th:text="${actor.biography}"></span>
            <img th:src="${actor.portraitUrl}">
            <a th:href="@{'/actor/' + ${actor.id} + '/edit'}">Modifier</a>
            <a href="#" th:href="@{'/actor/'+ ${actor.id} +'/delete'}">Supprimer</a>

        </li>
    </ul>
</body>
</html>