<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/fragments/head.html :: head"></head>

<body class="user">
<h1>Oscard Wild Circus</h1>
<nav th:replace="/fragments/navbar.html :: navbar"></nav>

    <h2>Reservation</h2>
    <form class="c-text" enctype="multipart/form-data" th:action="@{/reservation/create}" th:method="POST"
          th:object="${newReservation}">

        <div class="form-container">
            <div class="form-row">
                <label for="firstName">Last Name</label>
                <input id="firstName" name="firstName" th:field="*{firstName}" type="text"/>
            </div>

            <div class="form-row">
                <label for="lastName">First Name</label>
                <input id="lastName" name="lastName" th:field="*{lastName}" type="text"/>
            </div>

            <div class="form-row">
                <label for="address">Address</label>
                <input id="address" name="address" th:field="*{address}" type="text"/>
            </div>
            <div class="form-row">
                <label for="mail">Email</label>
                <input id="mail" name="mail" th:field="*{mail}" type="email"/>
            </div>

            <div class="form-row">
                <label for="phone">Phone</label>
                <input id="phone" name="phone" th:field="*{phone}" type="text"/>
            </div>

            <div class="form-row">
                <label for="placeWanted">Number ticket</label>
                <input id="placeWanted" name="placeWanted" th:field="*{placeWanted}" type="number"/>
            </div>
        </div>
        <ul>
            <li th:each="activity : ${activityList}">
                <span th:text="${activity.title}"></span>
                <span th:text="${activity.genre}"></span>
                <span th:text="${activity.cost}"></span>
                <span th:text="${#dates.format(activity.date, 'dd-MM-yyyy')}"></span>
                <span th:text="${#dates.format(activity.startHour, 'HH:mm')}"></span>
                <span th:text="${#dates.format(activity.endHour, 'HH:mm')}"></span>
                <input type="checkbox" th:field="${activityList}" value="${activityOne}">
            </li>
        </ul>

        <input type="submit" value="Valider">
    </form>



</body>
</html>