.user {
      background-image: url("https://zupimages.net/up/19/29/6t5a.jpg");
      background-repeat: no-repeat;
      background-position: static;
      background-size:cover;
      background-attachment: fixed;

}

li{
  list-style-type: none;

}
#description {
    display: flex;
    color: white;
    text-align: left;

}
h1{
    text-align: center;
    color: red;
}
nav{
    width: 70%;
    margin: auto;
    background-color: black;
    display: flex;
    flex-direction: column-reverse;
}
.nav-bar{
    display: flex;
    justify-content: space-evenly;
}
.nav-bar a{
    color: white;

}
.nav-bar a:Hover{
    color: #9f9f9f;
}
h2{
    display: flex;
    color: white;
}
.c-text{
    color: white;
}
.t-c-text{
    color: white;
    border-collapse: collapse;
    margin: 0.5rem 0;


}
.t-c-text img{
    width: 100px;
}
.t-c-text th,
.t-c-text td{
    border: 3px solid white;
    padding: 0,5rem;
}
#t-activity{
    width: 80%;
    margin: 100px 30px;
}

.t-c-tex caption {
    border-bottom: none;
    padding: 0.8rem;
}
.form-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: 0 auto;

}
.form-row{
    margin-bottom: 15px;
    width:100%

}

.form-row label{
    display: block;
    padding-bottom: 5px;
}
.form-row input{
    max-width: 300px;
}
.form-wild{
    display: flex;
    justify-content: flex-start;
}
.form-wild-row{
    margin: 10px;
}
.form-wild-row input{
    display: block;
}
.form-activity{
    display: flex;
    justify-content: flex-start;

}
.form-activity-row{
    margin: 10px;
}
.form-activity-row input{
    display: block;
    width: 100%;

}
.form-actor{
    display: flex;
    justify-content: flex-start;
}
.form-actor-row{
    margin: 10px;
}
.form-actor-row input{
    display: block;

}

.form-panel h2{
    color: black;
}
#about{
    padding: 80px, 0;
    display: flex;
    justify-content: space-around;

}
#about-actor{
    display: flex;
    flex-direction: column;
    align-items: center;

#about-about{
     display: flex;
     flex-direction: column;
     align-items: center;
}

